.DS_Store
.idea/
yarn.lock
*.iml
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
source/_drafts/*

themes/next/source/lib/*

themes/next/source/lib/font-awesome/less/
themes/next/source/lib/font-awesome/scss/
!themes/next/source/lib/font-awesome/*

!themes/next/source/lib/jquery/

themes/next/source/lib/ua-parser-js/*
!themes/next/source/lib/ua-parser-js/dist/

!themes/next/source/lib/velocity/
